.address-container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  
  .address-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .address-form label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  .address-form input[type="text"],
  .address-form input[type="email"],
  .address-form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .address-form select {
    height: 40px;
  }
  
  .address-form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .address-form button:hover {
    background-color: #2E8B57;
  }
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .submitbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  
  @media screen and (max-width: 600px) {
    .address-form {
      grid-template-columns: 1fr;
    }
  }
  