.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #2b6cb0;
    border-radius: 10px;
    padding: 10px;
  }
  
  .cart-item__image {
    width: 120px;
    margin-right: 20px;
  }
  
  .cart-item__details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .cart-item__title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .cart-item__price {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .cart-item__quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item__quantity button {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .cart-item__quantity p {
    font-size: 1.2rem;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .cart-item__delete-button {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    background-color: #ff4444;
    color: #fff;
    cursor: pointer;
  }
  
  .cart-total-price {
    font-size: 1.5rem;
    text-align: right;
    margin-top: 20px;
  }
  
  .discount {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .discount input[type="text"] {
    width: 200px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .discount button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .discount button:hover {
    background-color: #2980b9;
  }
  
  .discount-applied {
    background-color: #2ecc71;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .discount-applied button {
    background-color: #fff;
    color: #2ecc71;
    border: 1px solid #2ecc71;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .discount-applied button:hover {
    background-color: #2ecc71;
    color: #fff;
  }
  